::ng-deep *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px; 
}
::ng-deep .btn{
    background-color: #10082a !important;
}

::ng-deep .blog::after{
    content: '';
    width: 5%;
    height: 4px;
    position: absolute;
    border-bottom: 5px solid #10082a;
    bottom: 29px;
    right: 47%;
}
::ng-deep .btn{
    background-color: #10082a;
}
::ng-deep .form-control:focus,::ng-deep button {
    box-shadow: none;
    border: 1px solid #10082a;
}

