<div class="container pt-4 mt-4">
  <div class="row d-flex justify-content-center align-items-center h-75">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <form [formGroup]="fg" (submit)="register()">
        <div class="card text-center border-1 p-3 sign-shadow">
          <div class="card-body">
            <h1 class="card-title pb-4 text">Signup</h1>
            <div class="mb-3 text-center">
              <div *ngIf="registerError" class="alert alert-danger" role="alert">
                Singup Failed
              </div>
              <div *ngIf="userRegistered" class="alert alert-danger" role="alert">
                Email Already Exists
              </div>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label ">Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Jonh Doe"
                formControlName="username">
              <span class="text-danger" *ngIf="UsernameInput.touched && UsernameInput.errors">Username is
                Invalid!</span>
              <span class="text-danger" *ngIf=" UsernameInput.errors?.['minlength']">Min Length 4 !</span>
              <span class="text-danger py-1" *ngIf="UsernameInput.errors?.['required'] && clicked">Username is
                Required!</span>

            </div>
            <div class="mb-3 pt-3">
              <label for="email" class="form-label ">Email address</label>
              <input type="text" name="email" class="form-control" id="email" placeholder="name@example.com"
                formControlName="email">
              <span class="text-danger" *ngIf="EmailInput.touched && EmailInput.errors">Email is Invalid!</span>
              <span class="text-danger py-1" *ngIf="EmailInput.errors?.['required'] && clicked">Email is
                Required!</span>
            </div>
            <div class="mb-3 pt-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="********"
                formControlName="password">
              <span class="text-danger" *ngIf="PasswordInput.touched && PasswordInput.errors">Password is
                Required!</span>
              <span class="text-danger py-1" *ngIf="PasswordInput.errors?.['required'] && clicked">Password is
                Required!</span>
            </div>
            <div class="mb-3 d-grid gap-2">
              <button type="submit" class="btn btn-primary mb-2 mt-3 py-2 border-0" id="submitBtn">
                <span *ngIf="!Loading">Signup</span>
                <div class="spinner-border text-light" role="status" *ngIf="Loading">
                  <span class="visually-hidden">Loading</span>
                </div>
              </button>
              <p class="mb-0">
                Already Registered?
                <a routerLink="/login" class="fw-bold text-danger text-decoration-none">Sign in</a>
              </p>
            </div>
          </div>
        </div>