<div class="container">
  <div *ngFor="let blog of blogs">
    <div class="m-2 pt-5">
      <div class="card-body d-flex flex-column ">
        <h2 class="card-title text-uppercase py-2">{{blog.title}}</h2>
        <div>
          <p class="card-text pt-2">Blog By: <small
              class="text-danger text-capitalize fw-bold">{{blog.authorDetail.username | uppercase}} </small></p>
          <p class="card-text pb-3">Posted At: <small class="text-success ">{{blog.postedAt | date:'mediumDate'}}
            </small></p>
        </div>
        <p class="card-text text-capitalize py-2" [innerHTML]="blog.content">{{blog.content}}</p>

        <div *ngIf="blog.tags.length">

          <p class="card-text py-2">Tags: <span class="badge rounded-pill bg-danger py-2 px-3 mb-2 mx-1 tag"
              *ngFor="let tag of blog.tags"> {{tag}}</span></p>
        </div>

        <h4 class="card-text py-2"><small class="text-muted ">{{commentsCount}} Comments</small></h4>

        <app-comments [blogId]="blog._id" (commentHandle)="parentComment($event)"></app-comments>

        <div class="" *ngFor="let check of commentHandle">
          <div class="card my-2 show-comments">
            <div class="card-body d-flex flex-column  ">
              <div class="user-icon py-3">
                <i class="fa fa-user-circle-o d-flex align-items-center " aria-hidden="true">
                  <small class="px-2">{{check.userName | uppercase}}</small>
                </i>
              </div>
              <div>
                <h6 class="card-title text-capitalize ">{{ check.comment }}</h6>
                <p class="card-text">Commented At: <small class="text-success">{{check.postedAt | date:'short'}}</small>
                </p>

              </div>


            </div>
          </div>
        </div>
      </div>


    </div>

  </div>