
h1{
    color: #10082a !important;
}
.card:hover{
    transform: scale(1.10);
    transition: all 0.45s ease;
    border-color: #10082a;
}

:host ::ng-deep .ngx-pagination li.current {
    background-color: #10082a !important;
}

